@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f2f5;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f3f4f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}